<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tm/style.css' %}" > 

<body><div class="content"><div id="secondary"><aside class="widget">


{% if goal_list %}
<h1>Список целей:</h1>
    <ul>
    {% for goal in goal_list %}
        <li><a href="{% url 'tm:plan' goal.id %}">{{ goal.goal_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


</div></div></body></html>  


