 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tm/style.css' %}" > 
<body>

<!--Блок вывода целей-->
<div class="content"><div id="secondary"><aside class="widget">
<h1>{{ goal.goal_text }}</h1>
<ul>
{% for field in goal.plan_set.all %}
    <li><b>Стратегия:</b> {{ field.plan_child }}</li>
    <li><b>Планка цели:</b> {{ field.plan_aim }}</li><br>
    <li><b>План:</b> {{ field.plan_tree }}</li>
    <li><b>Критические точки:</b> {{ field.plan_bottleneck }}</li><br>
    <li><b>Это делает цель нвозможной:</b> {{ field.plan_wall }}</li>
    <li><b>Дэдлайн:</b> {{ field.plan_plank }}</li>
{% endfor %}
</ul></div></div>

<!--Блок вывода комментариев-->
{% if goal.comments_set.all %}
<div class="content"><div id="secondary"><aside class="widget">
<ul><br>
{% for comment in goal.comments_set.all %}
    <li>{{ comment.pub_date }}
    <br>{{ comment.comment_text }}</li>
{% endfor %}
{% endif %}
</ul>
</div></div>

<!--Блок добавления комментариев-->
<div class="content"><div id="secondary"><aside class="widget"><br>
<form action="{% url 'tm:add_comment' goal.id %}" method="post">
{% csrf_token %}
<!--{% for field in goal.plan_set.all %}
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
-->
<input type="text" name="comment_text" />
<input type="submit" value="Комментировать" />
</form></div></div></body></html>  
